@import "colors";
@import "typography";

body {
  > header {
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 112px;
    padding: 32px;
    background-color: $shade-50;
    background-image: linear-gradient(135deg, $shade-50, $shade-100);
    h1 {
      margin-bottom: -8px;
      text-shadow: none;
      z-index: 9999;
      display: inline-block;
      &::after {
        border-bottom: 0px solid $shade-50;
      }
      a {
        color: black;
        &:visited {
          color: black;
        }
        &:hover {
          color: black;
        }
        &:active {
          color: black;
        }
      }
    }
    div.menu-wrapper {
      position: absolute;
      top: 0px;
      left: 0px;
      right: 0px;
      bottom: 0px;
      width: 100%;
      min-height: 48px;
      &.hide {
        nav {
          display: none;
        }
        img.menu-open {
          display: none;
        }
      }
      img.menu {
        position: absolute;
        top: 41px;
        right: 32px;
      }
      img.menu-open {
        position: absolute;
        top: 46px;
        right: 56px;
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
      }
      nav {
        position: absolute;
        left: 0;
        right: 0;
        top: 80px;
        background-color: black;
        box-shadow: 0px 10px 9px 3px rgba(0,0,0,.5);
        color: $shade-900;
        padding: 16px;

        div.nav-group {
          width: 480px;
          margin-right: 0;
          margin-left: auto;
          h6 {
            display: inline-block;
            width: 128px;
            text-align: right;
            margin-right: 8px;
            &:after {
              content: ":";
            }
          }
        }
        a {
          &:not(:first-of-type) {
            &:before {
              content: " | ";
              color: $shade-500;
            }
          }
        }
      }
    }

  }
}